body{
    background: linear-gradient(45deg,red,blue);
}
main{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg,red,blue);
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

h1{
    position: absolute;
    margin-top: -430px;
    padding-left: -30px;
    font-size: 40px;
    padding-bottom: 20px;
}
p{
    position: absolute;
    margin-bottom: -450px;
    margin-left: 50px ;
}
form{
    position: absolute;
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    transition: 0.25px;

}
input{
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;

}
#display{
    border-radius: 40px;
    width: 250px;
    border: none;
    outline: none;
    height: 55px;
    padding: 5px;
    font-weight: bold;
    color: black;
}
.btn,.operator{
    width: 60px;
    border-radius: 100px;
    border: 1px solid black ;
}
#zero{
    width:120px;
    border-radius: 100px;
}

/*h1{
    position: absolute;
    margin: 250px 0 0 35px;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 45px;
    
}
p{
    position: absolute;
    margin: 310px 0 0 280px;
    font-size: 20px;
    font-weight: bold;
}*/